* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('img/back.jpg');
  background-color: rgb(19, 23, 34) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.8);
}

.navbar {
  /*background-color: #F1C40F;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: #fff;
  border-bottom: 2px solid #F1C40F;
}

.navbar .logo a {
  font-size: 25px;
  font-weight: bold;
  color: #F1C40F;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
}

.nav-links .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F1C40F;
  list-style: none;
  padding: 10px 0;
  min-width: 200px;
  border-radius: 5px;
}

.dropdown-menu li {
  padding: 5px 10px;
  opacity: 1;
}

.dropdown-menu li:hover{
  opacity: 0.5;
}

.dropdown-menu a {
  color: #fff;
}

.cta .btn {
  background-color: #F1C40F;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}

.cta .btn.secondary {
  background-color: white;
  color: #F1C40F;
  border: 2px solid #F1C40F;

}

.cta .btn:hover {
  opacity: 0.5;
}

button{
  background-color: #F1C40F;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}